:root{
	--dark-primary-color    : #512DA8; 
	--default-primary-color : #673AB7; 
	--light-primary-color   : #D1C4E9; 
	--text-primary-color    : #FFFFFF; 
	--accent-color          : #FF4081; 
	--primary-text-color    : #212121; 
	--secondary-text-color  : #757575; 
	--divider-color         : #BDBDBD; 
}

body{
	/*font-family: 'Poppins', sans-serif;*/
	/*font-family: 'Varela Round', sans-serif;*/
	    font-family: 'Montserrat', sans-serif;
}
body{
	padding: 0;
	margin: 0;
}
body.has-overlap{
	/*height: 100vh;*/
	/*width: 100vh;*/
	overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #e0e0e0;
    outline: 1px solid #f5f5f5;
}
.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.flex-center{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}



nav{
	padding: 0 !important;
	color: rgba(0,0,0,0.64);
}
.navbar{
	position: fixed !important;
	height: 60px;
	width: 100%;
	z-index: 994;
	background-color: #fff;
	top: 0 !important;
}
.line{
	background-color: var(--default-primary-color) !important;
	height: 4px;
	width: 100%;
	position: absolute;
	bottom: 0;
	/*top: 20px;*/
	z-index: 999;
}
.navbar-brand{
	/*padding-left: 15px;*/
}

.menu-btn{
	/*padding-left: 15px;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin: 0 15px;
	height: 100%;
	-ms-align-items: center;
	align-items: center;
	width: 50px;
	cursor: pointer;
}



.overlap{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;	
	background-color: rgba(0,0,0,0.24);
	z-index: 996;
	display: none;
}

/*the side navigation*/
.sidenav{
	height: 100vh;
	width: 280px;
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 999;
	display: none;
}




/*the main part*/
.main{
	padding-top: 76px;
	/*background-color: #fafbfb;*/
	padding-left: 15px;
	/*margin-top: 20px;*/
}
.video-card{
	height: calc(100vh - 250px);
	background-color: var(--secondary-text-color);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 10px;
	overflow: hidden;
}
.image-holder{
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.user-place{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.user-name{
	font-size: 14px;
	margin-top: 10px;
	font-weight:500;
	/*margin: 10px 0px;*/
}
.user-title{
	margin: 3px 0px 10px 0px;
	color: rgba(0,0,0,0.57);
}

.avatar{
	height: 52px;
	width: 52px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.24);
}
.avatar.small{
	height: 35px;
	width: 35px;
}
.fs-12{
	font-size: 12px;
}

.pr-20{
	padding-right: 20px;
}
.pl-10{
	padding-left: 10px;
}
.pl-20{
	padding-left: 20px;
}

.w-70{
	width: 70%;
}


.mr-20{
	margin-right: 20px;
}
.mt-10{
	margin-top: 10px;
}
.mb-30{
	margin-bottom: 30px;
}
.user-avatar{
	
}
.image-responsive{
	height: 100%;
}
.btn-follow{
	background-color: var(--accent-color);
	color: #fff;
}
.btn-follow:hover{
	/*background-color: var(--accent-color);*/
	color: #fff;
}
.btn-primary{
	background-color: var(--default-primary-color);
}
.play-button{
	font-size: 30px !important;
	color: white;
}
.box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.box-inside{
	width: 150px;
	/*height: 100px;*/
	background-color: rgba(0,0,0,0.12);
	margin: 0px 10px 20px 0px;
}

.video-holder{
	/*background-color: #fff;*/
	padding-bottom: 15px;
}
.details{
	/*display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;*/
	margin-top: 20px;
}
.vid-detail{
	margin-top: 20px;
}
.vid-detail h3{
	font-weight: bold;
	font-size: 16px;
	line-height: 10px;
}
.vid-detail p{
	padding-top: 5px;
	font-size: 12px;
	line-height: 20px;
	color: rgba(0,0,0,0.64);
	padding-right: 15px;

}
.vid p:first-child{
	/*font-weight: 500;*/
	font-size: 13px;
	padding-top: 2px;
	color: rgba(0,0,0,0.97);
}

.vid p:last-child{
	/*font-weight: 430;*/
	font-size: 12px;
	position: relative;
	top: -10px !important;
	color: rgba(0,0,0,0.57);
}

.video-words{
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
}
.video-words div{
	margin-bottom: 10px;
	font-size: 12px;
}



/*the landing page*/

.page-wrapper{
	padding-top: 56px;
}
.page-title, .section-title{
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
.page-title h1{
	font-size: 3.6rem;
	color: #fff;
	font-weight: 700;
	text-align: center;
}
.page-tagline p{
	text-align: center;
}
.landing{
	height: calc(100vh - 200px);
	/*background-color: #f2f5f5;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	background-image: url('../img/bg.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
.w-70{
	width: 70%;
}

.courses-lists{
	padding: 0;
}
.courses-lists li{
	display: inline-block;
	margin-right: 10px;
}
.courses-lists li span{
	font-size: 14px;
}

.words-part{
	/*width: 80%;*/
	/*padding-left: 13px;*/
	/*margin: 0 auto;*/
}
.quick-tabs{
	margin-top: -60px;
	margin-bottom: 20px;
}
.quick-tabs-holder{
	/*width: 80%;*/
	margin: 0 auto;
}
.quick-tabs .card{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	align-content: center;
	padding: 50px 20px; 
	margin-bottom: 20px;
}
.quick-tabs .card p{
	text-align: center;
}
.card-icon img{
	height: 100px;
}
.q-tab-title{
	margin-top: 10px;
}
.q-tabs-desc{
	color: rgba(0,0,0,0.67);
	font-size: 14px;
}
.footer{
	background-color: #1D2026;
	padding-top: 40px;
	color: #fff;
}
.separator{
	background-color: var(--accent-color);
	height: 2px;
	width: 60px;
	margin-bottom: 20px;
}
.footer{
		color: #ffffff80;
}
.footer ul{
	padding: 0;
	list-style: none;
}
.footer ul.links li a{
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	color: #ffffff80;
}
.footer ul.links li a:hover{
	color: #fff;
}
.link-title p{
	color: #fff;
	font-weight: 600;
}
.social-share{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.social-share ul{
	padding: 0;
	list-style: none; 
}
.social-share ul li{
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-right: 10px;
}
.social-share ul li a{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.12);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	transition: 0.35s;
	text-decoration: none;
	color: #fff;
}
.social-share ul li a:hover{
	background-color: #fff;
}
.fb-icon:hover{
	color: royalblue;
}
.tw-icon:hover{
	color: blue;
}
.ig-icon:hover{
	color: purple;
}
.a-link{
	color: #ffffff80;
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
}
.a-link:hover{
	color: #fff;
	text-decoration: none;
}
.footer-bottom{
	height: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;
	padding-bottom: 15px;
}

hr.white{
	border-bottom: 1px solid #ffffff40 !important;
}



/*section*/
.section{
	min-height: 500px;
	padding-top: 50px;
}
.section-title{
	font-size: 2.1rem;
	font-weight: 500;
	margin-bottom: 15px;
}
.section-title span{
	display: block;
}
.section-tagline{
	font-family: 'Open Sans', sans-serif;
}
.section-tagline p{
	color: rgba(0,0,0,0.57);
}
.newslatter-form{
	padding-top: 20px;
}
.newslatter-form .form-group{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.newslatter-form,.newslatter-form form{
	width: 70%;
	margin: 0 auto;
}
.line-sep{
	height: 2px;
	width: 100px;
	background-color: var(--accent-color);
	margin: 10px 0px 20px 0px;
}

.course-image{
	overflow: hidden;
}

.course-image img{
	/*height: 100%;*/
	width: 100%;
}
.course-description{
	justify-content: center;
	flex-direction: column;
	-ms-align-items: flex-start;
	align-items: flex-start;
	height: 100%;
	padding: 25px; 
	text-align: left;
	color: #fff;
}

.f-end{
	-ms-align-items: flex-end;
	align-items: flex-end;
	text-align: right
}

.p-0{
	padding: 0;
}
.f-col{
	flex-direction: column;
}
.section-small img{
	height: 100px;
}
.grey-scale{
	background-color: #f2f5f5;
}
.pt-5{
	padding-top: 10px;
}

.pt-15{
	padding-top: 65px;
}
.tutor{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.tutor h4{
	font-weight: bold;
}
.tutor p{
	font-size: 13px;
}
.tutor-image{
	height: 150px;
	margin-bottom: 20px;
	margin-top: 30px;
}
.tutor-image img{
	height: 100%;
	border-radius: 50%;
}
.tutor-icons{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 50%;
	margin:  0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	/*margin-top: 10px;*/
}
.tutor-icons li{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	height: 40px;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 40px;
	
}
.tutor-icons li a{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	text-decoration: none;
	color: #ffffff;
	border-radius: 50%;
	transition: 0.35s;
}
.tutor-icons li a:hover{
	background-color: var(--accent-color) !important;
}
.overlap-landing{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.35);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}


.user-circle{
	cursor: pointer;	
}

.nav-item span{
	display: inline-block;
	padding:0px 15px;
}


/*the side pannel*/
.side-panel{
	width: 240px;
	background-color: #fff;
	height: 100vh;
	padding-top: 56px;
	position: fixed;
	top: 0;
	z-index: 99;
	border-right: 1px solid rgba(0,0,0,0.12);
	overflow: auto;
}

.search-area{
	height: 45px;
	width: inherit;
	position: fixed;
	z-index: 90;
}
.scroll-able{
	margin-top: 60px;
}

.search-area form{
	height: inherit;
	width: inherit;
}
.search-area form input{
	height: inherit;
	width: inherit;
	font-weight: 400;
	font-size: 0.8rem;
	border: none;
	outline: none;
	border-right: 1px solid rgba(0,0,0,0.12); 
	border-bottom: 1px solid rgba(0,0,0,0.12);
	padding-left: 15px;
	transition: 0.35s all ease;
}
.search-area form input:focus{
	border-bottom: 1px solid var(--default-primary-color);
}
.side-panel ul{
	padding: 0;
	margin: 0;
}
.side-panel ul li{
	list-style: none;
	display: inline-block;
	width: 100%;
	height: 40px;
}
.side-panel ul li a{
	height: 100%;
	width: 100%;
	display: block;
	padding-left: 15px;
	color: var(--primary-text-color);
	transition: .35s
}
.side-panel ul li a:hover{
	text-decoration: none;
	color: var(--default-primary-color)
}
.side-panel ul li a.active{
	color: var(--default-primary-color);
	font-weight: 500;
}
.scroll-able{
	overflow-x: auto;
	position: absolute;
}


.main-section{
	margin-top: 70px;
	padding-left: 260px;
}
.topic-title{
	padding: 30px 0px;
	font-weight: 500;
	font-size: 2rem;
}

@media screen and (max-width: 420px){
	.navbar-brand{
		margin-left: 20px;
	}
	.courses-summary {
		display: none;
	}
	.page-title h1{
		font-size: 2rem;
		text-align: left;
	}
	.page-tagline p{
		font-size: 14px;
		margin-bottom: 20px;
	}
	.newslatter-form,.newslatter-form form{
		width: 100%;
		margin: 0 auto;
    }
    .newslatter-title{
    	font-size: 1.7rem;
    }
    .newslatter-body{
    	font-size: 14px;
    }

}


