:root{
	--dark-primary-color    : #512DA8; 
	--default-primary-color : #673AB7; 
	--light-primary-color   : #D1C4E9; 
	--text-primary-color    : #FFFFFF; 
	--accent-color          : #FF4081; 
	--primary-text-color    : #212121; 
	--secondary-text-color  : #757575; 
	--divider-color         : #BDBDBD; 
}

body{
	/*font-family: 'Poppins', sans-serif;*/
	/*font-family: 'Varela Round', sans-serif;*/
	    font-family: 'Montserrat', sans-serif;
}
body{
	padding: 0;
	margin: 0;
}
body.has-overlap{
	/*height: 100vh;*/
	/*width: 100vh;*/
	overflow: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #e0e0e0;
    outline: 1px solid #f5f5f5;
}



nav{
	padding: 0 !important;
	color: rgba(0,0,0,0.64);
}
.navbar{
	position: fixed;
	height: 60px;
	width: 100%;
	z-index: 994;
	background-color: #fff;
}
.line{
	background-color: var(--default-primary-color) !important;
	height: 4px;
	width: 100%;
	position: absolute;
	bottom: 0;
	/*top: 20px;*/
	z-index: 999;
}
.navbar-brand{
	/*padding-left: 15px;*/
}

.menu-btn{
	/*padding-left: 15px;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin: 0 15px;
	height: 100%;
	-ms-align-items: center;
	align-items: center;
	width: 50px;
	cursor: pointer;
}



.overlap{
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;	
	background-color: rgba(0,0,0,0.24);
	z-index: 996;
	display: none;
}

/*the side navigation*/
.sidenav{
	height: 100vh;
	width: 280px;
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 999;
	display: none;
}




/*the main part*/
.main{
	padding-top: 76px;
	/*background-color: #fafbfb;*/
	padding-left: 15px;
	/*margin-top: 20px;*/
}
.video-card{
	height: calc(100vh - 250px);
	background-color: var(--secondary-text-color);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 10px;
	overflow: hidden;
}
.image-holder{
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.user-place{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.user-name{
	font-size: 14px;
	margin-top: 10px;
	font-weight:500;
	/*margin: 10px 0px;*/
}
.user-title{
	margin: 3px 0px 10px 0px;
	color: rgba(0,0,0,0.57);
}

.avatar{
	height: 52px;
	width: 52px;
	border-radius: 50%;
	border: 2px solid #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.24);
}
.avatar.small{
	height: 35px;
	width: 35px;
}
.fs-12{
	font-size: 12px;
}

.pr-20{
	padding-right: 20px;
}

.mr-20{
	margin-right: 20px;
}
.user-avatar{
	
}
.image-responsive{
	height: 100%;
}
.btn-follow{
	background-color: var(--accent-color);
	color: #fff;
}
.btn-primary{
	background-color: var(--default-primary-color);
}
.play-button{
	font-size: 30px !important;
	color: white;
}
.box{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.box-inside{
	width: 150px;
	/*height: 100px;*/
	background-color: rgba(0,0,0,0.12);
	margin: 0px 10px 20px 0px;
}

.video-holder{
	/*background-color: #fff;*/
	padding-bottom: 15px;
}
.details{
	/*display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;*/
	margin-top: 20px;
}
.vid-detail{
	margin-top: 20px;
}
.vid-detail h3{
	font-weight: bold;
	font-size: 16px;
	line-height: 10px;
}
.vid-detail p{
	padding-top: 5px;
	font-size: 12px;
	line-height: 20px;
	color: rgba(0,0,0,0.64);
	padding-right: 15px;

}
.vid p:first-child{
	/*font-weight: 500;*/
	font-size: 13px;
	padding-top: 2px;
	color: rgba(0,0,0,0.97);
}

.vid p:last-child{
	/*font-weight: 430;*/
	font-size: 12px;
	position: relative;
	top: -10px !important;
	color: rgba(0,0,0,0.57);
}

.video-words{
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
}
.video-words div{
	margin-bottom: 10px;
	font-size: 12px;
}



/*the landing page*/
.page-wrapper{
	padding-top: 56px;
}
.page-title{
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
.landing{
	height: calc(100vh - 200px);
	background-color: #f2f5f5;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.w-70{
	width: 70%;
}

.courses-lists{
	padding: 0;
}
.courses-lists li{
	display: inline-block;
	margin-right: 10px;
}
.courses-lists li span{
	font-size: 14px;
}

.words-part{
	/*width: 80%;*/
	/*padding-left: 13px;*/
	/*margin: 0 auto;*/
}
.quick-tabs{
	margin-top: -60px;
	margin-bottom: 20px;
}
.quick-tabs-holder{
	/*width: 80%;*/
	margin: 0 auto;
}
.quick-tabs .card{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	align-content: center;
	padding: 50px 20px; 
	margin-bottom: 20px;
}
.quick-tabs .card p{
	text-align: center;
}
.card-icon img{
	height: 100px;
}
.q-tab-title{
	margin-top: 10px;
}
.q-tabs-desc{
	color: rgba(0,0,0,0.67);
	font-size: 14px;
}
.footer{
	background-color: #1D2026;
	padding-top: 40px;
	color: #fff;
}
.separator{
	background-color: var(--accent-color);
	height: 2px;
	width: 60px;
	margin-bottom: 20px;
}
.footer{
		color: #ffffff80;
}
.footer ul{
	padding: 0;
	list-style: none;
}
.footer ul.links li a{
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	color: #ffffff80;
}
.footer ul.links li a:hover{
	color: #fff;
}
.link-title p{
	color: #fff;
	font-weight: 600;
}
.social-share{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.social-share ul{
	padding: 0;
	list-style: none; 
}
.social-share ul li{
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-right: 10px;
}
.social-share ul li a{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.12);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	transition: 0.35s;
	text-decoration: none;
	color: #fff;
}
.social-share ul li a:hover{
	background-color: #fff;
}
.fb-icon:hover{
	color: royalblue;
}
.tw-icon:hover{
	color: blue;
}
.ig-icon:hover{
	color: purple;
}
.a-link{
	color: #ffffff80;
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
}
.a-link:hover{
	color: #fff;
	text-decoration: none;
}
.footer-bottom{
	height: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	-ms-align-items: center;
	align-items: center;
	padding-bottom: 15px;
}

hr.white{
	border-bottom: 1px solid #ffffff40 !important;
}